@media screen and (min-width: 768px) {
  .side_bar {
    width: 10%
  }

  main {
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  .side_bar {
    width: 155px
  }

  main {
    width: calc(100% - 155px);
  } 

  .side_bar i {
    margin-right: 8px;
  }

  .sd-offcanvas {
    width: 70% !important; 
  }
}

@media screen and (min-width: 992px) {
  .offcanvas .offcanvas-end .show {
    width: 75%;
    background-color: red;
  }
}