body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}



a {
  text-decoration: none;
}

.main_container {
  width: 100%;
  height: calc(100vh - 70px);
}





/* HEADER */
header {
  width: 100%;
  height: 70px;
}

.logo img {
  height: 50px;
}

.search{
  position: relative;
  width: 100%  
}

.search input{
  text-indent: 25px;
  border: 1px solid #d6d4d4;
  background-color: #e5e5e5;
}

.search .fa-search{
  position: absolute;
  top: 11px;
  left: 11px;
}

.icon_nav a {
  color:#5b5858;
  margin: 0 2px;
}

.icon-bell {
  color: #fd7e14;
}

/* SIDEBAR */
.side_bar {
  width: 40px;
  height: 100%;
  background-color: #092339;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.side_bar a {
  color: white;
}

.side_bar i {
  margin-right: 8px;
  font-size: 1.2rem;
}

.top_menu {
  height: calc(100% - 70px);
  overflow: hidden;
}

.bottom_menu {
  height: 70px;
}

/* MAIN */
main {
  width: calc(100% - 40px);
  height: 100%;
  overflow: auto;
}

/* COUNTER-SECTION */
main .top_row {
  color: white;
}

.sd-badge {
  background-color: #155cba;
  font-size: 0.9rem;
  cursor: pointer;
}

.sd-row {
  margin-top: 5px;
}

.icon-quote {
  font-size: 0.9rem;
}

.sd-btn {
  font-size: 0.7rem;
  background-color: #155cba;
  color: white;
  border-radius: 100%;
  padding: 2px 6px;
}

/* TABLE-SECTION */
  section:not(.counter_section) {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  background-color: white;
}

.title_row {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
}

.btn_canvas {
  border: 1px solid #0d6dfb;
}

.code-icon {
  background-color: #f26551;
  color: white;
  border-radius: 100%;
  padding: 8px 6px;
  margin-right: 5px;
}

td button {
  background-color: white;
  border: 1px solid #6c757d;
  color: #6c757d ;
  border-radius: 3px;
  padding: 2px 6px;
}

tr td:not(tr td:first-child),
tr th:not(tr th:first-child) {
  text-align: center;
}

tr td:first-child,
tr th:first-child {
  padding-left: 1rem;
}

/* FAQ-SECTION */
.sd-acco-body {
  font-size: 0.8rem;
}

.sd-acco-item {
  border-left: 0;
  border-right:0;
  border-radius:0;
}

.sd-acco-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* CHECKLIST-SECTION */
.inner_container {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 1rem;
}

.sd-form-check {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.inner_container .sd-form-check:last-child {
  border-bottom: 0;
}

.sd-form-check .form-check-input {
  margin-left: 0;
  margin-right: 10px;
}

/* CHART-SECTION */
.chart_section ul {
  list-style: none;
  padding: 0;
}




